<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Water Landing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC8FF25A1C81A18900C7A021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8FF26E1C81A18B00C7A021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC8FF2791C81A18C00C7A021</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
